.landing {
    margin-left: 250px;
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .akw-finance {
        h1 {
            font-size: 55px;
        }

        button {
            outline: none;
            border: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            text-align: center;
            background: #cf801d;
            padding: 0.8rem 1rem;
            cursor: pointer;
            transition: all 0.2s;
            text-transform: uppercase;
            background-color: #cf801d;
            color: white;
            border-radius: 0.6rem;
            text-decoration: none;
            max-width: 18rem;
            width: 100%;
            font-weight: 700;
        }

        button.secondery-btn {
            background: transparent;
            color: #cf801d;
            border: 3px solid #cf801d;
        }
    }

    .our-partners {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 120px;
        gap: 20px;

        img {
            max-width: 200px;
            cursor: pointer;
        }

        img.filter {
            filter: invert(100%);
        }
    }

    .community {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 100px;
        gap: 30px;
        max-width: 100%;
        margin: 30px auto 80px;

        a {
            display: block !important;
            text-decoration: none;
            text-align: center;

            h1 {
                font-size: 55px;
                svg {
                    background: white;
                    border-radius: 8px;
                    padding: 5px!important;
                }

            }
            h5 {
                font-family: 'Montserrat'!important;
            }
        }
    }

    .details-row {
        h5:nth-child(1) {
            text-align: right;
            font-weight: lighter;
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: 1px solid #ffa500;
        }
    }

    .team-card {
        max-width: 300px;
        margin: 80px auto 0;
        background-color: #221e32;
        padding: 20px 35px 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 4px #101010;
        height: 100%;

        img {
            // margin-top: -90px;
            border-radius: 50%;
            border: 5px solid #101010;
            cursor: pointer;
        }
        img:hover {
            border-color: #cf801d;
        }
    }
}

@media(max-width: 1121px) {
    .landing {
        margin-left: 0px;
    }
}